{% extends "layout/basic.html" %}

{% block content %}

<div class="container-fluid" style="padding-left: 50px;">
  <h2>Регистрация</h2>
    <form method="post">
      {% csrf_token %}
        {% for f in form %}
          <p><label class="col-sm-2 col-form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

      <button type="submit" class="btn btn-primary">Регистрация</butto>
    </form>
</div>
{% endblock %}